.hero {
  background-color: $veryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    // Fills the space (cover the entire div) but keeps aspect ratio (doesn't stretch)
    background-size: cover;
    background-repeat: no-repeat;
    // Center in div
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      // Originally had height set on parent
      // But flexbox styles things based on content
      // Image doesn't have content, so looks to text for height
      // So need to set height on image
      height: 41rem;
      background-image: none;
      //   background-image: url("/images/bg-intro-desktop.svg");
      //   background-position: left center;
    }

    // First child
    // If you don't specify z-index, places later elements on top of before elements
    &::before {
      // Pseudo-elements always needs content
      content: "";
      position: absolute;
      // Match width & height of the parent
      height: 100%;
      background-image: url("/images/bg-intro-desktop.svg");
      background-size: 93%;
      background-repeat: no-repeat;
      // Adjusting position of background image within the container div, won't show overlap
      background-position: center bottom;

      @include breakpoint-up(large) {
        width: 150%;
        background-size: 122%;
        background-position: 0% 83%;
      }
    }

    // Last child
    &::after {
      // Pseudo-elements always needs content
      content: "";
      position: absolute;
      // Match width & height of the parent
      width: 100%;
      height: 100%;
      background-image: url("/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 52%;
      }

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }
  }

  &__text {
    // Mobile style is default
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }

    h1 {
      font-weight: 300;
      font-size: 2.3125rem;
      line-height: 1.15;
      color: $darkBlue;
      // Add space to the bottom if you want space between elements instead of both top and bottom
      margin-bottom: 1.5rem;

      @include breakpoint-up(large) {
        font-size: $font-xlg;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 2.25rem;
    }
  }
}
